*.class
*.jar
*.war
*.ear
*.nar
.gitignore

bin/
out/
build/
target/


.mvn/bin/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties


.gradle/
gradle/wrapper/gradle-wrapper.jar


.vscode/
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/


.DS_Store
*.DS_Store


Thumbs.db
desktop.ini

─
*.log
logs/


.env
.env.local
application-secret.properties


*.mwb.bak
